* {
    box-sizing: border-box;
  }
  body {

    font-family: 'inconsolata', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 248, 189);
}
html {
    scroll-behavior: smooth; 
  }
.logo{
display: inline;
height: 50px;
width: 50px;
margin: 15px 5px;

  }
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-link{
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: white;
}
.copyright{
    display: inline;
    color: aliceblue;

}
.link{
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: white;
}
.nav-item{
    display: inline; 
    margin-right: 5px; 
    border: 1px solid #000; 
    padding: 3px;
}

.header {

    border: 1px solid red;
    background-color: black;
}
.main{
    border: 1px solid green;
    display: flex;   
}
.footer{
    position: sticky;
    border: 1px solid yellow;
    background-color: black;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.img {
    display:flex;
    padding: auto;
    margin: 50px;
    
}

 